* {
  font-family: sans-serif;
}
.App {
  display: flex;
  margin-top: 33vh;
  justify-content: center;
}

.drum-pads {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.drum-pad {
  border: 1px solid #000;
  width: 100px;
  height: 100px;
  display: flex;
  background-color: grey;
  font-weight: 700;
  justify-content: center;
  font-size: 24px;
  margin: 4px;
  border-radius: 5px;
  align-items: center;
}
#display {
  display: flex;
  background-color: navy;
  color: aliceblue;
  padding: 12px 0;
  text-align: center;
  justify-content: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}